img{
    width: 100px;
    height: 100px;
}
body{
    background-color: white;
}
hr{
    background-attachment: yellow;
    border-style: dotted dotted none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.table_item:nth-child(odd){
    background: orange;
}